<div>
    <div class="row">
        <div class="col-2">
            <h3>Projects</h3>
        </div>
        <div class="col-1">
            <button class="btn btn-outline-success mt-1">add</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-danger mt-1">delete</button>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3 mb-3" *ngFor="let project of projects">
                <div class="card border-info">
                    <div class="card-body text-info">
                        <h5 class="card-title ">{{ project.name }}</h5>
                        <hr>
                        <a href="#" class="card-link">open</a>
                    </div>
                    <div class="card-footer text-info border-info text-center">{{ project.category }} project</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr>
<div>
    <h3>Tasks</h3>
    <div class="container">
        <h5>Current</h5>
        <div *ngFor="let current of current_tasks">
            <div class="alert alert-primary" role="alert">
                {{ current.id }} {{ current.name }} {{ current.created_at }} {{ current.complete_by }}
                <a class="text-dark">todo</a>
                <a class="text-success">done</a>
            </div>
        </div>
    </div>
</div>
