<nav class="nav nav-tabs justify-content-center">
    <a class="nav-link text-secondary" href="#" (click)="onClick('self')">My Individual Tasks</a>
    <a class="nav-link text-secondary" href="#" (click)="onClick('project')">My Project Tasks</a>
    <a class="nav-link text-secondary" href="#" (click)="onClick('all')">All Tasks</a>
</nav>


<div class="container mt-4">
    <form>
        <div class="form-row">
            <div class="col-1"></div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="You can assign a task here">
            </div>
            
            <div class="col-auto">
                <input type="date" class="form-control" placeholder="due by">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
            <div class="col-1"></div>
        </div>
    </form>
    <hr>
    <h5>Current</h5>
    <div *ngFor="let current of current_tasks">
        <div class="alert alert-primary" role="alert" *ngIf="current.category == show || show=='all'">
            <div class="row">
                <div class="col-auto">{{ current.id }}</div>
                <div class="col-7">{{ current.name }}</div>
                <div class="col-1">{{ current.created_at }}</div>
                <div class="col">{{ current.complete_by }}</div>
                <div class="col-1">
                    <a class="badge badge-pill badge-secondary text-light" (click)="current.status='new'">new</a>
                </div>
                <div class="col-1">
                    <a class="badge badge-pill badge-success text-light" (click)="current.status='done'">done</a>
                </div>
            </div>
        </div>
    </div>
    <h5>New</h5>
    <div *ngFor="let new of new_tasks">
        <div class="alert alert-dark" role="alert" *ngIf="new.category == show  || show=='all'">
            <div class="row">
                <div class="col-auto">{{ new.id }}</div>
                <div class="col-7">{{ new.name }}</div>
                <div class="col-1">{{ new.created_at }}</div>
                <div class="col">{{ new.complete_by }}</div>
                <div class="col-1">
                    <a class="badge badge-pill badge-success text-light" (click)="new.status='done'">done</a>
                </div>
                <div class="col-1">
                    <a class="badge badge-pill badge-primary text-light" (click)="new.status='current'">current</a>
                </div>
            </div>  
        </div>
    </div>
    <h5>Done</h5>
    <div *ngFor="let done of done_tasks">
        <div class="alert alert-success" role="alert" *ngIf="done.category == show  || show=='all'">
            <div class="row">
                <div class="col-auto">{{ done.id }}</div>
                <div class="col-7">{{ done.name }}</div>
                <div class="col-1">{{ done.created_at }}</div>
                <div class="col">{{ done.complete_by }}</div>
                <div class="col-1">
                    <a class="badge badge-pill badge-secondary text-light" (click)="done.status='new'">new</a>
                </div>
                <div class="col-1">
                    <a class="badge badge-pill badge-primary text-light" (click)="done.status='current'">current</a>
                </div>
            </div>
        </div>
    </div>
</div>
