<nav class="nav nav-tabs justify-content-center">
    <a class="nav-link text-secondary" (click)="onClick('self')">My Personal Tasks</a>
    <a class="nav-link text-secondary" (click)="onClick('project')">My Project Tasks</a>
    <a class="nav-link text-secondary" (click)="onClick('all')">All Tasks</a>
</nav>


<div class="container mt-4">
    <form (ngSubmit)="onCreate()">
        <div class="form-row">
            <div class="col-1"></div>
            <div class="col-6">
                <input type="text" class="form-control" id="name" [(ngModel)]="task.name" name="name"
                required placeholder="You can assign a task here">
            </div>
            
            <div class="col-auto">
                <input type="date" class="form-control" id="complete_by" [(ngModel)]="task.complete_by" name="complete_by"
                placeholder="due by">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </div>
            <div class="col-1"></div>
        </div>
    </form>
    <hr>
    <h5>Current</h5>
    <div *ngFor="let current of tasks | async">
        <div class="alert alert-primary" role="alert" *ngIf="current.status == 'current'">
            <div class="row">
                <div class="col-auto">{{ current.id }}</div>
                <div class="col-7">{{ current.name }}</div>
                <div class="col-1">{{ current.created_at }}</div>
                <div class="col">{{ current.complete_by }}</div>
                <div class="col-1">
                    <button class="badge badge-pill badge-secondary text-light" (click)="onUpdate(current.id, 'new')">new</button>
                </div>
                <div class="col-1">
                    <button class="badge badge-pill badge-success text-light" (click)="onUpdate(current.id, 'done')">done</button>
                </div>
            </div>
        </div>
    </div>
    <h5>New</h5>
    <div *ngFor="let new of tasks | async">
        <div class="alert alert-dark" role="alert" *ngIf="new.status =='new' ">
            <div class="row">
                <div class="col-auto">{{ new.id }}</div>
                <div class="col-7">{{ new.name }}</div>
                <div class="col-1">{{ new.created_at }}</div>
                <div class="col">{{ new.complete_by }}</div>
                <div class="col-1">
                    <button class="badge badge-pill badge-success text-light" (click)="onUpdate(new.id, 'done')">done</button>
                </div>
                <div class="col-1">
                    <button class="badge badge-pill badge-primary text-light" (click)="onUpdate(new.id, 'current')">current</button>
                </div>
            </div>  
        </div>
    </div>
    <h5>Done</h5>
    <div *ngFor="let done of tasks | async">
        <div class="alert alert-success" role="alert" *ngIf="done.status == 'done'">
            <div class="row">
                <div class="col-auto">{{ done.id }}</div>
                <div class="col-7">{{ done.name }}</div>
                <div class="col-1">{{ done.created_at }}</div>
                <div class="col">{{ done.complete_by }}</div>
                <div class="col-1">
                    <button class="badge badge-pill badge-secondary text-light" (click)="onUpdate(done.id, 'new')">new</button>
                </div>
                <div class="col-1">
                    <button class="badge badge-pill badge-primary text-light" (click)="onUpdate(done.id, 'current')">current</button>
                </div>
            </div>
        </div>
    </div>
</div>
