<nav class="navbar flex-column">
    <a class="navbar-brand text-light" href="#" routerLink="/home">Track Project</a>
    <nav class="nav flex-column" style="height: 650px;">
      <a class="nav-link text-light" href="#" routerLink="/home">home</a>
      <a class="nav-link text-light" href="#" routerLink="/tasks">tasks</a>
      <a class="nav-link text-light" href="#" routerLink="/project">project</a>
      <a class="nav-link text-light mt-auto"><i>@Suresh8</i></a>
      <a class="nav-link text-light">sign out</a>
      <a class="nav-link text-light">Settings</a>
    </nav>
</nav>