
<div class="row vh-100">
  <div class="col-2">
    <app-nav-main></app-nav-main>
    <button class="btn btn-outline-primary" (click)="onClick($event)">home</button>
    <button class="btn btn-outline-primary" (click)="onClick($event)">tasks</button>
    <button class="btn btn-outline-primary" (click)="onClick($event)">project</button>
  </div>


  <div class="col-9 bg-light">
    <app-home *ngIf="display=='home'"></app-home>
    <app-project *ngIf="display=='project'"></app-project>
    <app-tasks *ngIf="display=='tasks'"></app-tasks>
  </div>
</div>

